<nav>
  <div class="brand hover-effect">
    <a href="/">Finance Tools</a>
  </div>
  <div class="collapsible nav-group">
    <ul>
      <li class="navbar-link hover-effect">
        <a href="/beginner-guide">Beginner's Guide</a>
      </li>
      <li class="navbar-link hover-effect">
        <a id="dropdown-button" href="#" (click)="toggleDropdown()" onclick="return false;">Planning Tools ▼</a>
        <div class="dropdown-container hidden" href="#">
          <a class="dropdown-link hover-effect" href="/retirement">Retirement Calculator</a>
          <a class="dropdown-link hover-effect" href="/loan">Loan Calculator (coming soon)</a>
          <a class="dropdown-link hover-effect" href="/budget">Budget Tool</a>
        </div>
      </li>
    </ul>
  </div>
</nav>