.footer {
  background-color: rgb(54, 54, 54);
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 4.2rem;
  line-height: 1.25rem
}

.footer-text {
  color: rgb(221, 221, 221);
  text-align: center;
  margin-top: 2px
}