<div class="container">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            What is an investment?
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          An investment is anything that the owner expects to grow (technically called "appreciate") in value. A stock,
          bond, ETF, mutual fund (don't worry, more on these later!), Beanie Babies, a classic car, or a bottle of Jack
          Daniels in a doomsday prepper's basement can be considered an investment.
          <hr>
          Most of the investments you hear about today are in stocks and bonds, and those are often packaged in ETFs and
          mutual funds. These are the four types of investments we will cover and they are the only kind that the
          average person will ever need to know about, so if you came to this guide looking for advice on commodities
          futures or OTM options trading then this isn't the guide for you.
          <hr>
          Keep in mind that a lot of the technical terms are designed to scare the average person into thinking they
          can't handle their own money. My sister recently hired a financial advisor who wanted 1% growth annually. She
          fired him soon after we did the math and found that would cost her over $300,000 by the time she retired. This
          guide is simple for newcomers and <em>well</em> worth your time.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
            aria-controls="collapseTwo">
            What about those stocks and bonds?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          The basic investment tools are stocks and bonds. They are a simple concept that has been confused by years of
          industry professionals trying to look smarter than they really are.
          <hr>
          A stock is part ownership in a company. That’s all. If your friend has a lemonade stand and issues 100 stocks,
          then each stock is worth 1/100th of the company (assuming that the stocks represent all the ownership of the
          company). If you buy 1 stock, you own 1% of his company. If his company expands, your 1% ownership grows. If
          his company makes a profit, you get 1% of that profit. It’s that simple!
          <hr>
          A bond is an agreement between you and a firm (a firm being either a government or a business) that you will
          give them some money today and they will give you more money later. You might remember from history class
          about “war bonds,” when the government would borrow money from its citizens and promise to pay them back when
          the war was over. The same deal happens in peace time. Businesses will also issue bonds sometimes when they
          are trying to raise money but they don’t want to sell part of their company (in the form of stocks) to get it.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
            Stocks and bonds make sense... but how can I buy them?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          This part is a little tricky. You would need years of training and certifications and background checks to be
          able to buy stocks and bonds directly from the source. Instead, you simply hire someone to do it for you and
          it happens almost automatically. This someone is called an <em>investment bank.</em>
          <hr>
          You may have heard of them before. Bank of America, JPMorgan Chase, Charles Schwab, e-Trade, etc. all provide
          investment services. So you open an account with them (the most basic type is called a brokerage account,
          though there are more that we will talk about later), deposit some money into it, and then place an order for
          them to buy investments for you. And voila! You own some investments!
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
            aria-expanded="false" aria-controls="collapseFour">
            How do I know which investments will go up in value?
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          You don't! Nobody does! But if you invested broadly across the entire US economy over the past fifty years,
          you would have made (on average) 9.8% per year on your investments.
          <hr>
          The market does fluctuate and it is risky. That's why it's important to <em>diversify,</em> or own lots of
          different types of stocks. If you'd put all your money into web start ups in 1999 or into banks in 2007 you'd
          have lost big. But if you have your money across many different investments (a mix of stocks and bonds, stocks
          in very different types of companies, etc) then your money is much safer.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
            aria-expanded="false" aria-controls="collapseFive">
            But if I don't know which stocks will go up and down in value, how can I know which ones to buy?? Especially
            if I have to buy so many to keep my money safe?!
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
          I’m glad you made it this far, because this is where it all starts to come together. Now that you have your
          money in a brokerage account at an investment bank, you need to pick stocks and bonds. This where a lot of
          people think they need to call in the experts and pay them hundreds of thousands of dollars to help them.
          <hr>
          It is time to call in the experts, but not the ones you’re thinking of. There are experts at almost every
          investment bank in the world whose job it is to buy stocks and bonds and put them in a new package called
          either a mutual fund or an exchange-traded fund (ETF). These are essentially the same thing but with one
          important difference. The expert continues to manage the mutual fund, but not the ETF. The expert can go back
          in and sell stocks of Company A in a mutual fund, or buy more of Company B – but once the ETF is set up it
          will not change.
          <hr>
          So why would you ever want an ETF over a mutual fund? For one thing, the experts are idiots. They don’t know
          any more than you or me, they just know how to speak the insider lingo and take big paychecks when the economy
          does what it was going to do anyway. For another thing, the experts charge to manage the mutual fund. It’s
          usually not much but it can add up to the tens of thousands over a long term, where ETFs are usually free.
          <hr>
          These funds (mutual funds and ETFs) are simply an easy way to buy a package of similar companies. When you
          order a meal at a fast food restaurant, it might come with a burger, fries, and a drink. These foods are all
          similar and all complement each other, and you only have to buy one thing (the value meal) instead of all
          three things separately. But at the end of the day, you still get your food exactly as if you had ordered the
          individual pieces of the meal separately. Think of funds the same way.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
            aria-controls="collapseSix">
            Stocks, bonds, mutual funds, brokerage accounts... My head is spinning!
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          That’s OK! We’ve made it through the hard part. Let’s take a moment to summarize. You have your money in a
          brokerage account (for now) and are ready to buy some investments. So you log onto your investment bank’s
          website and find the buy option, and it asks you for a symbol. That symbol is a unique identifier for stocks.
          MSFT will bring up Microsoft’s stock, MCD will bring up McDonald’s stock, and VIG will bring up an ETF which
          holds both Microsoft and McDonald’s. Once you press the buy button, your broker takes your money and buys an
          investment for you. Now if Microsoft releases a new version of Halo that makes $1 billion, you get a (very
          small) piece of that $1 billion! We’re invested!
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"
            aria-expanded="false" aria-controls="collapseSeven">
            Alright, I understand the principles... But I still have no idea how to pick a good investment!
          </button>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
        <div class="card-body">
          OK, you got me there. I’ve done a really bad job of explaining what a good vs a bad investment is so far. Now
          that we understand the system, let’s look at what you need to know to fire your financial advisor.
          <hr>
          The first thing to know is that you are not going to beat the market and discover a hidden genius a la Bradley
          Cooper in Limitless. You are not Gordon Gecko, you are not Buffet on a budget (I mean Warren, not Jimmy). You
          can expect to make about 9.8% per year like the rest of the market averages. That might seem small, but over a
          few decades it can add up to millions of dollars in your account that you made with a few clicks and some
          restrained spending (check out our retirement calculator to see how much you can make by just waiting around).
          <hr>
          So let’s learn what to look for in stocks and bonds (and the funds that hold them)!
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingEight">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#copllapseEight"
            aria-expanded="false" aria-controls="copllapseEight">
            Tell me what to look for in a good stock.
          </button>
        </h5>
      </div>
      <div id="copllapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
        <div class="card-body">
          Stocks are probably the hardest to wrap your head around but they boil down to a couple of basic concepts.
          Unless you want to trade stocks full time, this is all you'll need to know.
          <ol>
            <li>Dividend – The profit that the company shares with you. Some companies take their profits and re-invest
              it in themselves so you don’t see the profit immediately, you hopefully see it later when the company
              grows and the share price goes up. But ‘high dividend’ companies are more interested in sharing profits
              with the stock owners (aka shareholders) than in re-investing the money. ETFs that pay a big dividend are
              called “High Dividend” and stocks that re-invest the dividend are called “Growth.”</li>
            <li>Market cap – how big and valuable the company is. Technically speaking, this is the total of all stocks
              in the company. If there are a billion stocks for a company and each one is worth $20, the market cap is
              $20 billion. So why does that matter? A small cap company is riskier than a large cap company – they have
              a lot of room to grow, but they’re not going to be as stable as some of the other bigger companies. This
              means that the company (and your investment) can make a lot more money, but there’s a bigger chance that
              it loses a lot more money.</li>
            <li>Value – the same thing it means when you’re buying groceries. It just means getting more for your money.
              An expert took a look at a bunch of stocks and decided that these are underpriced for what they are. These
              stocks can be good for a quick gain, but they could also stagnate for years without making you a dime.
            </li>
            <li>Sector – what field the company exists in. Apple exists in the technology sector, Tesla is in the
              transportation sector, etc. There are also raw materials, healthcare, consumer staples, communication…
              There are as many sectors as there are for a company to make money. If you bought a technology ETF you
              could expect to find Apple, Google, Facebook, and Microsoft but in a consumer staples ETF you would find
              Procter and Gamble, Coca Cola, and Costco.</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingNine">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine"
            aria-expanded="false" aria-controls="collapseNine">
            Makes sense, now how about bonds?
          </button>
        </h5>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
        <div class="card-body">
          Bonds are a bit easier. They are just a contract between you and the government to pay you a certain amount of
          money at the end of the agreement. Like you take a loan from the bank, the government is taking a loan from
          you.
          <hr>
          The weird part about bonds is that you can sell your end of the agreement to someone else. If you’re tired of
          holding a bond, you can sell the loan to Joey, and now the government owes Joey money instead of you. It
          sounds weird, but banks sell mortgages and business loans to each other all the time.
          <hr>
          That’s the real value of bonds as an investment. When people get scared that the stock market is going to
          crash, they take their money out of stocks and put it in bonds. So if you hold a bond and the stock market
          crashes, a lot of people will be offering you a lot of money for it.
          <hr>
          It’s good to have a mix of stocks and bonds in your account. If you like to take risks (or you have a lot of
          time to invest) then you should put around 75% in stocks and 25% in bonds. If you will need the money soon or
          you’re just not a risk taker, do the opposite.
          <hr>
          Don’t forget, you can buy bonds as part of an ETF or mutual fund.
          <hr>
          Now that you know why you’d buy a bond, let’s take a look at some of the terms surrounding them.
          <ol>
            <li>Term – how long it will take for the bond to mature, and for you to get paid. Long-term bonds usually
              pay better than short-term bonds, because it’s a bigger commitment for you.</li>
            <li>Government vs Investment – whether you’re loaning money to the government or to a company. Government
              bonds tend to be very stable – which means very safe, but you won’t make a lot of money. If you want to
              risk it for the biscuit then investment bonds might be more up your alley.</li>
            <li>Foreign – a bond from a company or government outside of the US. These tend to be riskier and pay off
              more. There’s also the risk that a government defaults, or decides they don’t want to pay back their debt
              anymore, and your bond is worthless. The Argentine government did this in 2014. It’s possible the US
              government could default as well, but this has never happened before and people are confident that it
              never will.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>