body {
  background: rgb(78,133,81) !important;
  background: radial-gradient(circle, rgb(52, 99, 54) 0%, rgb(136, 218, 127) 100%) !important;
}

.container {
  margin-top: 2rem;
  
}

.container .card-header {
  background-color: #b0daba;
  box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
}

.container .card-header * {
  text-align: left;
  text-decoration: none;
  color: #222;
  font-size: 1.5rem;
  border: #68a877;
}

.container .card-body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}