<div class="container">
  <h1>Take charge of your financial future</h1>
  <div>
    <p>It's difficult to know what to pay attention to and what's just filler. And that's not an accident.</p>
    <p>Lots of companies want to make you believe that you can't do it on your own. That you need an overpaid "expert" to help you navigate the waters. What they don't tell you about their "small" fees is that they can compound into hundreds of thousands of dollars between now and the time you retire. The truth is that you can do it all yourself armed with some basic knowledge.</p>
    <p>This website is designed to cut out the clutter and give you that knowledge. These are the very first steps in understanding how to make your money work for you, and some no-frills, dead-easy calculators to help you plan for your future.</p>
    <p>Begin with the encyclopedia and find out what all these confusing industry terms mean in human language. Once you understand the tools that you can use to grow your wealth, turn that knowledge from "how" into "how much" for the complete picture.</p>
  </div>
</div>